{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow border-danger">

            <div class="card-body text-center">

                <h2 class="text-danger mb-4">
                    Delete Album
                </h2>

                <p>
                    Are you sure you want to delete:
                </p>

                <h4>
                    "{{ object.title }}"
                </h4>

                <form method="POST">

                    {% csrf_token %}

                    <button type="submit" class="btn btn-danger">
                        Yes, Delete
                    </button>

                    <a href="{% url 'album-list' %}" class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}