{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-body">

                <h2 class="mb-4">

                    {% if object %}
                        Edit Album
                    {% else %}
                        Create Album
                    {% endif %}

                </h2>

                <form method="POST">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button type="submit" class="btn btn-success">
                        Save Album
                    </button>

                    <a href="{% url 'album-list' %}" class="btn btn-secondary">
                        Cancel
                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}